<header class="site-header">
  <div class="site-header-wrapper">
    <h1>
      <button mat-button aria-label="Home" [routerLink]="['/']">
        <img src="images/logo.png" alt="Bethany's Pie Shop Logo"/>
      </button>
    </h1>
    <nav>
      <ul>
        <li>
          <button class="menu-item" mat-button ariaCurrentWhenActive="page" routerLinkActive="active-link"
                  [matMenuTriggerFor]="menu">Shop <span>&#8964;</span>
            <mat-menu class="menu-dropdown" #menu="matMenu">
              <button mat-menu-item routerLinkActive="active-link-li" [routerLink]="[ROUTER_TOKENS.SHOP, Category.SEASONAL_PIE]" >
                Seasonal Pies
              </button>
              <button mat-menu-item routerLinkActive="active-link-li" [routerLink]="[ROUTER_TOKENS.SHOP, Category.FRUIT_PIE]">
                Fruit Pies
              </button>
              <button mat-menu-item routerLinkActive="active-link-li" [routerLink]="[ROUTER_TOKENS.SHOP, Category.CHEESECAKE]" >
                Cheesecakes
              </button>
              <button mat-menu-item routerLinkActive="active-link-li" [routerLink]="[ROUTER_TOKENS.SHOP, Category.ALL]">All
                Pies
              </button>
            </mat-menu>
          </button>
        </li>
        <li>
          <button class="menu-item" mat-button ariaCurrentWhenActive="page" routerLinkActive="active-link"
                  [routerLink]="ROUTER_TOKENS.CONTACT">Contact
          </button>
        </li>
        <li>
          <button class="menu-item" mat-button ariaCurrentWhenActive="page" routerLinkActive="active-link"
                  [routerLink]="ROUTER_TOKENS.ABOUT">About
          </button>
        </li>
      </ul>
    </nav>
    <div class="header-icons">
      <ul>
        <li>
          <button
            mat-menu-item
            [routerLink]="['/', { outlets}]"
            queryParamsHandling="merge"
          >
            <span class="total-items">{{ totalItems() }}</span>
            <img ngSrc="images/cart-icon.png" alt="shopping cart icon" width="20"  height="20"/>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
