@if (selectedPie(); as selectedPie) {
  <div class="detail">
    <h3>{{ selectedPie.title }}</h3>
    <div class="image-wrapper">
      <img [src]="selectedPie.image" [alt]="selectedPie.title"/>
      <div class="description">
        <p>{{ selectedPie.description }}</p>
        <h4>Ingredients:</h4>
        <div class="ingredient_container">
          @for (ingredient of selectedPie.ingredients; track $index) {
            <span class="ingredient">{{ ingredient }}</span>
          }
        </div>
        <p class="price">Price: <span>{{ selectedPie.price }}</span></p>
      </div>
    </div>

    <div class="quantity-selector">
      <button (click)="cartService.decrementCartItem(selectedPie)">-</button>
      <span
        (click)="cartService.addCartItem(selectedPie)">{{ selectedPie?.quantity ? selectedPie?.quantity + ' in Cart' : 'Add to Cart' }}</span>
      <button (click)="cartService.addCartItem(selectedPie)">+</button>
    </div>
  </div>
}
